In [ ]:
!pip install openpyxl

In [104]:
dash.__version__

'2.16.0'

In [105]:
pd.__version__

'1.5.3'

In [107]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import dash
from dash import dcc, html
from dash.dependencies import Input, Output
from dash import dash_table

# Carregar dados do arquivo XLSX
df = pd.read_excel('1 - Base de Dados.xlsx')

In [108]:
df

,Unnamed: 0,ID_Pedido,Data_Pedido,ID_Representante,Nome_Representante,Regional,ID_Produto,Nome_Produto,Valor_Produto,Quantidade_Vendida,Valor_Total_Venda,Nome_Cliente,Cidade_Cliente,Estado_Cliente
0,NaN,10001,2020-01-01,1004,Isabela Carolina,Sudeste,SKU9005,Celular Modelo 3,1800,21,37800,amazon,Rio de Janeiro,RJ
1,NaN,10002,2020-01-01,1004,Isabela Carolina,Sudeste,SKU9005,Celular Modelo 3,1800,57,102600,Shoptime,Betim,MINAS
2,NaN,10003,2020-01-02,1002,Lucas Souza,Sudeste,SKU9011,Notebook Modelo 3,4300,59,253700,Carrefour,Rio de Janeiro,RJ
3,NaN,10004,2020-01-02,1002,Lucas Souza,Sudeste,SKU9011,Notebook Modelo 3,4300,89,382700,Carrefour,Rio de Janeiro,RJ
4,NaN,10005,2020-01-02,1005,Tais Fernandes,Sudeste,SKU9008,Mouse,88,71,6248,Ricardo Eletro,Vitória,ES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3206,NaN,200807,2020-12-28,1008,Teobaldo Junior,Nordeste,SKU9012,Smart TV,1998,11,21978,amazon,Salvador,BA
3207,NaN,200808,2020-12-28,1008,Teobaldo Junior,Nordeste,SKU9015,Teclado,80,20,1600,Ponto Frio,Salvador,BA
3208,NaN,200809,2020-12-29,1006,Mário Junior,Nordeste,SKU9005,Celular Modelo 3,1800,71,127800,kabum,Fortaleza,CE
3209,NaN,200810,2020-12-30,1001,Maria Silva,Nordeste,SKU9006,E-Reader,250,51,12750,Casas Bahia,João Pessoa,PB
3210,NaN,200811,2020-12-31,1001,Maria Silva,Nordeste,SKU9011,Notebook Modelo 3,4300,41,176300,Casas Bahia,Natal,RN

In [109]:
# Supondo que seu DataFrame seja df
df = df.drop("Unnamed: 0", axis=1, errors="ignore")

In [110]:
df['Data_Pedido']= df['Data_Pedido'].dt.strftime('%B %Y')

In [111]:
df

,ID_Pedido,Data_Pedido,ID_Representante,Nome_Representante,Regional,ID_Produto,Nome_Produto,Valor_Produto,Quantidade_Vendida,Valor_Total_Venda,Nome_Cliente,Cidade_Cliente,Estado_Cliente
0,10001,January 2020,1004,Isabela Carolina,Sudeste,SKU9005,Celular Modelo 3,1800,21,37800,amazon,Rio de Janeiro,RJ
1,10002,January 2020,1004,Isabela Carolina,Sudeste,SKU9005,Celular Modelo 3,1800,57,102600,Shoptime,Betim,MINAS
2,10003,January 2020,1002,Lucas Souza,Sudeste,SKU9011,Notebook Modelo 3,4300,59,253700,Carrefour,Rio de Janeiro,RJ
3,10004,January 2020,1002,Lucas Souza,Sudeste,SKU9011,Notebook Modelo 3,4300,89,382700,Carrefour,Rio de Janeiro,RJ
4,10005,January 2020,1005,Tais Fernandes,Sudeste,SKU9008,Mouse,88,71,6248,Ricardo Eletro,Vitória,ES
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3206,200807,December 2020,1008,Teobaldo Junior,Nordeste,SKU9012,Smart TV,1998,11,21978,amazon,Salvador,BA
3207,200808,December 2020,1008,Teobaldo Junior,Nordeste,SKU9015,Teclado,80,20,1600,Ponto Frio,Salvador,BA
3208,200809,December 2020,1006,Mário Junior,Nordeste,SKU9005,Celular Modelo 3,1800,71,127800,kabum,Fortaleza,CE
3209,200810,December 2020,1001,Maria Silva,Nordeste,SKU9006,E-Reader,250,51,12750,Casas Bahia,João Pessoa,PB
3210,200811,December 2020,1001,Maria Silva,Nordeste,SKU9011,Notebook Modelo 3,4300,41,176300,Casas Bahia,Natal,RN

In [112]:
# Inicializar o aplicativo Dash
app = dash.Dash(__name__)

# Layout do Dashboard
app.layout = html.Div([
    html.H1("Relatório de Vendas - 2020"),
    
    # Gráfico de Linhas ou Área - Total de Vendas por Mês
    dcc.Graph(
        id='graph1',
        figure=px.histogram(df, x='Data_Pedido', y='Valor_Total_Venda', title='Total de Vendas por Mês', color='Data_Pedido', labels={'Data_Pedido':'Meses', 'Valor_Total_Venda':'Total de Vendas'})
    ),
    
    # fazer um sum da coluna valor total venda
    
    # Gráfico de Barras - Total de Vendas por Representante
    dcc.Graph(
        id='graph2',
        figure=px.histogram(df, x='Nome_Representante', y='Valor_Total_Venda', title='Total de Vendas por Representante', color='Nome_Representante')
    ),
    
    # Tabela - Total de Vendas por Produto
    # dash_table.DataTable(
    #     id='table',
    #     columns=[{"name": col, "id": col} for col in df.columns],
    #     data=df.to_dict('records'),
    #     style_table={'height': '300px', 'overflowY': 'auto'},
    #     style_cell={'minWidth': 95, 'maxWidth': 95, 'width': 95},
    # ),

    # Gráfico de Histograma - Total de Vendas por Produto
    dcc.Graph(
        id='graph3',
        figure=px.histogram(df, x='Nome_Produto', y='Valor_Total_Venda', title='Total de Vendas por Produto', color='Nome_Produto')
    ),
    
    # Gráfico de Pizza - Total de Vendas por Regional
    dcc.Graph(
        id='graph4',
        figure=px.sunburst(df, path=['Regional', 'Estado_Cliente'], values='Valor_Total_Venda', title='Total de Vendas por Região', 
                           color='Estado_Cliente')
    ),

    # Gráfico de Barras - Total de Vendas por Estado
    dcc.Graph(
        id='graph5',
        figure=px.histogram(df, x='Estado_Cliente', y='Valor_Total_Venda', title='Total de Vendas por Estado', color='Cidade_Cliente')
    ),
    
    # Filtros Interativos
    html.Label('Selecione para filtrar Estados selecionados:'),
    dcc.Dropdown(
        id='estado-dropdown',
        options=[{'label': estado, 'value': estado} for estado in df['Estado_Cliente'].unique()],
        value=df['Estado_Cliente'].unique()[0],
        multi = True
    ),
    
    html.Label('Selecione para filtrar Cidades selecionadas:'),
    dcc.Dropdown(
        id='cidade-dropdown', multi= True
    ),
])

# Callback para atualizar as opções do dropdown de cidades com base no estado selecionado
@app.callback(
    Output('cidade-dropdown', 'options'),
    [Input('estado-dropdown', 'value')]
)
def update_cidades_options(selected_estados):
    if not selected_estados:
        return []
    cidades_options = [{'label': cidade, 'value': cidade} for estado in selected_estados for cidade in df[df['Estado_Cliente'] == estado]['Cidade_Cliente'].unique()]
    return cidades_options


# Callback para atualizar os gráficos com base nos filtros selecionados
@app.callback(
    [Output('graph1', 'figure'),
     Output('graph2', 'figure'),
     # Output('table', 'data'),
     Output('graph3', 'figure'),
     Output('graph4', 'figure'),
     Output('graph5', 'figure')],
    [Input('estado-dropdown', 'value'),
     Input('cidade-dropdown', 'value')]
)
def update_graphs(selected_estados, selected_cidades):
    if not selected_estados:
        return {}, {}, [], {}, {}

    if isinstance(selected_estados, str):  # Verifica se selected_estados é uma string
        selected_estados = [selected_estados]  # Transforma em lista

    filtered_df = df[df['Estado_Cliente'].isin(selected_estados)]
    
    if selected_cidades:
        filtered_df = filtered_df[filtered_df['Cidade_Cliente'].isin(selected_cidades)]

    fig1 = px.histogram(filtered_df, x='Data_Pedido', y='Valor_Total_Venda', title='Total de Vendas por Mês', 
                        color= 'Data_Pedido', labels={'Data_Pedido':'Meses', 'Valor_Total_Venda':'Total de Vendas'})
    fig2 = px.histogram(filtered_df, x='Nome_Representante', y='Valor_Total_Venda', title='Total de Vendas por Representante', 
                        color='Nome_Representante',  labels={'Nome_Representante':'Representantes', 'Valor_Total_Venda':'Total de Vendas'})
    fig3 = px.histogram(filtered_df, x='Nome_Produto', y='Valor_Total_Venda', title='Total de Vendas por Produto', 
                        color='Nome_Produto',  labels={'Nome_Produto':'Produtos', 'Valor_Total_Venda':'Total de Vendas'})
    # table_data = filtered_df.to_dict('records')
    # fig4 = px.sunburst(filtered_df, path=['Regional', 'Cidade_Cliente', 'Estado_Cliente'], values='Valor_Total_Venda', title='Total de Vendas por Região',
    #               color='Cidade_Cliente', labels={'Regional':'Região','Estado_Cliente':'Estado', 'Valor_Total_Venda':'Total de Vendas', 'Cidade_Cliente':'Cidade'},
    #               hover_data=['Cidade_Cliente'])
    fig4 = px.sunburst(filtered_df, path=['Regional', 'Estado_Cliente'], values='Valor_Total_Venda', title='Total de Vendas por Região',
                  color='Estado_Cliente', labels={'Regional':'Região','Estado_Cliente':'Estado', 'Valor_Total_Venda':'Total de Vendas'})
    fig5 = px.histogram(filtered_df, x='Estado_Cliente', y='Valor_Total_Venda', title='Total de Vendas por Estado',
                        color='Cidade_Cliente', labels={'Cidade_Cliente':'Cidade', 'Estado_Cliente':'Estado', 'Valor_Total_Venda':'Total de Vendas'})

    # return fig1, fig2, table_data, fig4, fig5
    return fig1, fig2, fig3, fig4, fig5



# Executar o aplicativo
if __name__ == '__main__':
    app.run_server(debug=True)